<ng-container *ngIf="content">
  <h3>{{ content.title }}</h3>
  <h4 [style]="customStyles">{{ content.author }}</h4>
  <a href="" (click)="handleDetailClick($event)">Details</a>
  <p>{{ content.abstract }}</p>
</ng-container>
