@use "./typography";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
}

input {
  display: block;
  margin: 1rem 0;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
