<form #form="ngForm" *ngIf="book" (ngSubmit)="save(form.value)">
  <label for="book-title-input">Title</label>
  <input
    [attr.aria-invalid]="title.invalid"
    #title="ngModel"
    id="book-title-input"
    [(ngModel)]="book.title"
    name="title"
    type="text"
    required
  />
  <p class="error" role="alert" *ngIf="title.errors?.required && title.dirty">
    Title is required
  </p>
  <label for="book-author-input">Author</label>
  <input
    id="book-author-input"
    [(ngModel)]="book.author"
    name="author"
    type="text"
  />
  <label for="book-abstract-input">Abstract</label>
  <textarea
    id="book-abstract-input"
    [(ngModel)]="book.abstract"
    name="abstract"
    type="text"
  ></textarea>
  <button type="submit">Submit</button>
</form>
