<ng-container *ngIf="book$ | async as book; else loading">
    <h1>{{ book.title }}<small>{{ book.numPages }}</small></h1>
    <h2>{{ book.author }}</h2>
    <p>{{ book.abstract }}</p>
    <a routerLink="edit">Edit</a> <!-- /books/details/:isbn -> /books/details/:isbn/edit -->
</ng-container>
<ng-template #loading>
    <p>Loading ...</p>
</ng-template>
